.timing1{
    background-color:rgb(139, 107, 169) ;
}
.go{
    color:blue;
    margin-right:auto;
    }
.p1{
    background-color:yellow;
}
 .内容{
    background-color: rgb(126, 126, 226);
 }   
 .rong{
    color: rgb(29, 68, 11);
    background-color:rgb(151, 151, 235);
 }
 .系统的字{
color:rgb(120, 21, 21); 
 }
 .其他人{
color: rgba(83, 0, 0, 0.885)
 
}
.animal{
    color: rgb(56, 56, 4)
}
.body{
    margin-right；
}
.red{
    color: color: color: color: color: color: color: color: color: color: color: color: color: color: color: color: color: color: ;;;;;;;;;;;;;;;;;
}
.blue{
color:blue;
}
.orange{
color:orange
}
.yellow{
color:yellow
}
.green{
color:green
}
.skyblue{
color:skyblue
}
.purple{
color:rgb(103, 0, 103)
}
